//
   Created by qh4r on 04.10.15.

extends ../layouts/home

block content

    +sayHi
    -if(vm.error != null)
      h1 Failed to connect to db
    -else if(vm.item == null)
      h1 No items found
    -else
      h1=vm.item.name
      p=vm.item.description

    - console.log("call z postLoot.jade!")
    a(href='/loot') back

    //- h1 Ogre-slaying knife
      //- p It has +9 against ogres. It was id ##{vm.id}