//
   Created by qh4r on 04.10.15.

extends ../layouts/home

mixin monsterRow(m)
  tr(id='monster-#{m.id}')
    td= m.name
    td= m.strength

block content
    h1 Ogre-slaying knife
    p It has +9 against ogres. It was id ##{vm.id}
    - console.log("call z postLoot.jade!")
    a(href='/adventure') back