extends ../layouts/home

mixin monstersRow(monster)
  tr
    td
      a(href='/showMonster/#{monster.id}')=monster.name
    td
      a(href='/editMonster/#{monster.id}') Edit
    td
      a(href='/deleteMonster/#{monster.id}') Delete

block content
  -if(vm.error !== null)
    h2=vm.error
  -else if(vm.monsters && vm.monsters.length > 0)
      h2 Monsters in the area:
      table
        thead
          th Name
        tbody
          -each monster in vm.monsters
            +monstersRow(monster)
  -else
      h2 There are no monsteres in the area

    p
      a(href='/addMonster') Add Monster
    a(href='/adventure') back
