extends ../layouts/home

mixin monstersRow(monster)
  tr
    td=monster.name
    td=monster.strength

block content
    -if(vm.monsters.length > 0)
      h2 Monsters in the area:
      table
        thead
            th Name
            th Strength
        tbody
        -each monster in vm.monsters
          +monstersRow(monster)
    -else
      h2 There are no monsteres in the area
    a(href='/adventure') back
